# 제곱 함수와 n 제곱 함수 만들기

In [2]:
def my_sq(x):
        return x ** 2
    
def my_exp(x, n):
        return x ** n
    
print(my_sq(4))
print(my_exp(2,4))

16
16

# 시리즈와 apply 메서드

In [5]:
import pandas as pd

df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

print(df['a'] ** 2)

    a   b
0  10  20
1  20  30
2  30  40
0    100
1    400
2    900
Name: a, dtype: int64
0    100
1    400
2    900
Name: a, dtype: int64

In [8]:
# apply 메서드를 활용하여 데이터프레임에 함수 적용
## 1개의 인자값을 받도록 구성되어 있다면 생략해야한다.

sq=df['a'].apply(my_sq)
print(sq)

ex = df['a'].apply(my_exp, n=2)
print(ex)

ex = df['a'].apply(my_exp, n=3)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64
0    100
1    400
2    900
Name: a, dtype: int64
0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [11]:
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

def print_me(x):
    print(x)
    
print(df.apply(print_me, axis=0))

    a   b
0  10  20
1  20  30
2  30  40
0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [12]:
# 평균을 구하는 함수 사용

def avg_3(x,y,z):
    return (x+y+z) / 3


print(df.apply(avg_3))

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [13]:
# 에러 해소법 : 열 단위로 데이터를 처리할 수 있도록 함수를 다시 만든다.

def avg_3_apply(col):
    x=col[0]
    y=col[1]
    z=col[2]
    return (x+y+z) / 3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [14]:
# 행 개수가 3이라는 것을 전제하여 만들었지만, for문을 사용하여 일반화 시킬 수 있다.

def avg_3_apply(col):
    sum= 0
    for item in col:
        sum += item
    return sum / df.shape[0]

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [15]:
# 일반화 for문을 행 방향으로 처리하는 함수를 만들어보자. 단순히 shape[1]만 적용하면 된다.

def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1]

print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [16]:
import seaborn as sns

titanic  = sns.load_dataset("titanic")
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [20]:
import numpy as np
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

cmis_col = titanic.apply(count_missing)
print(cmis_col)

#누락값의 비율도 구해보자

def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

pmis_col = titanic.apply(prop_missing)
print(pmis_col)

#반대로 데이터의 비율도 구해보자

def prop_complete(vec):
    return 1-prop_missing(vec)

dmis_col = titanic.apply(prop_complete)
print(dmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64
survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [22]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [24]:
#누락값의 개수를 구하여 titanic 데이터프레임에 추가하기

titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

#누락값이 2개 이상인 데이터를 추출하기

print(titanic.loc[titanic.num_missing > 1, :].sample(10))

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1
     survived  pclass     sex  age  sibsp  parch      fare embarked   class  \
739         0       3    male  NaN      0      0    7.8958        S   Third
552         0       3    male  NaN      0      0    7.8292        Q   Third
295         0       1    male  NaN      0      0   27.7208        C   First
354         0       3    male  NaN      0      0    7.2250        C   Third
159         0       3    male  NaN      8      2   69.5500        S   Third
653         1       3  female  NaN      0      0    7.8292        Q   Third
596         1       2  female  NaN      0      0   33.0000        S  Second
564         0       3  female  NaN      0      0    8.0500        S   Third
612         1       3  female  NaN      1      0   15.5000        Q   Third
334         1       1  female  NaN      1      0  133.6500        S   First

       who  adult_male deck  embark_town alive  alone  num_missing
739    man        True  NaN  Southampton    no   True            2
552    man        True  NaN   Queenstown    no   True            2
295    man        True  NaN    Cherbourg    no   True            2
354    man        True  NaN    Cherbourg    no   True            2
159    man        True  NaN  Southampton    no  False            2
653  woman       False  NaN   Queenstown   yes   True            2
596  woman       False  NaN  Southampton   yes   True            2
564  woman       False  NaN  Southampton    no   True            2
612  woman       False  NaN   Queenstown   yes  False            2
334  woman       False  NaN  Southampton   yes  False            2